.active {
  color: #e21b1b;
  text-decoration: underline #9e2121;
  text-underline-offset: 3px;
  border-radius: 20px;
}

.nav-logo{
width: 30px;
height: 30px;
border-radius: 50%;
}

.navbar-brand{
display: flex;
align-items: center;
gap: 4px;
}

/* mobile view */

@media screen and (max-width: 768px) {
  #navbar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 2rem;
    position: fixed;
    top: 0;
    z-index: 999;
  }

  #logo-name {
    gap: 3px;
    padding-right: 10px;
    font-size: 22px;
    padding-left: 10px;
  }

  #navlink-parent {
    background-color: #fff;
    color: #e21b1b;
    font-size: 14px;
    padding-left: 4px;
  }

  #navlink-parent ul {
    color: #e21b1b;
    font-size: 12px;
    font-weight: 600;
    padding-right: 8px;
  }
}

#navlink-parent ul li a:hover {
  background-color: rgb(65, 43, 5);
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
}
